fieldset{
    width: 10%;
}
body{
    background-color: purple;
}
h1{
    color: white;
}
legend{
    color: white;
}
h3{
    color: white;
}
div{
    color: white;
}
label{
    color: white;
}
fieldset{

}